.slash-background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    100deg,
    #EEEEEE 50%,
    #222831 50%
  );
}

.primary-background {
  background: #EEEEEE;
}

.secondary-background {
  background: #222831;
  color:#EEEEEE;
}

/* Default: collapsed menu (mobile view) */
.navbar .nav-link {
  color: #EEEEEE;
}

.navbar .nav-link.active{
  color: #D84040 !important;
  /* background-color: #333 !important; */
  border-radius: 4px;
}

.accent{
  color: #8E1616;
}

/* When expanded (large screens), make text white */
@media (max-width: 992px) {
  .navbar .nav-link {
    color: #1D1616;
  }

  .slash-background {
    background:#EEEEEE 50%;
    height: auto;
  }
}