h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0; 
}

h3 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
}

h1.text-large {
    font-size: 3.5rem;
    margin: 1.5rem 0;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.text-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.slash-background {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(
        95deg,
        #EEEEEE 50%,
        #222831 50%
    );
}

.primary-background {
    background: #EEEEEE;
    color: #222831;
}

.secondary-background {
    background: #222831;
    color:#EEEEEE;
}

.primary-background .navbar .nav-link {
    color: #222831
}

.slash-background .navbar .nav-link {
    color: #EEEEEE;
    /* color: #D84040; */
}

.slash-background--short {
    height: 100%;
}

.navbar .nav-link.active{
    color: #D84040 !important;
    border-radius: 4px;
}

.navbar .nav-link:hover{
    color: #D84040 !important;
    border-radius: 4px;
}

.accent{
    color: #8E1616;
}

.circle-container {
  position: relative;
  width: 15rem;
  height: 15rem;
}

.circle-icon {
  position: absolute;
  top: 50%;
  transform:
    rotate(calc(72deg * var(--i)))
    translate(150px)
    rotate(calc(-72deg * var(--i)));
  font-size: 1.5rem;
}

.circle-icon>img {
  height: 5rem;
  width: auto;
  object-fit: contain;
}

.circle-icon>img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* When expanded (large screens), make text white */
@media (max-width: 992px) {
    .slash-background .navbar .nav-link {
        color: #1D1616;
    }

    .slash-background {
        background:#EEEEEE 50%;
        height: auto;
    }
}

#typewriter-text::after {
content: '|';
animation: blink 0.7s infinite;
}

@keyframes blink {
50% { opacity: 0; }
}

.img-thumbnail,.img-thumbnail+.img-hover {
    border-radius: 1.25rem
}

.img-color img {
    filter: grayscale(1);
    transition: all .3s ease
}

.img-color:hover img {
    filter: grayscale(0)
}

.img-overlay {
    position: relative
}

.img-overlay .img-hover {
    background-color: rgba(0,0,0,.85);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease-in-out
}

.img-overlay .img-text {
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translateY(10px);
    transition: opacity .3s ease-in-out,transform .3s ease-in-out
}

.img-overlay:hover .img-hover,.img-overlay:hover .img-text {
    opacity: 1
}

.img-overlay:hover .img-text {
    transform: translateY(0)
}

.img-rising img {
    transition: all .3s ease-in-out
}

.img-rising:hover img {
    box-shadow: 0 .5rem 1rem rgba(14,14,14,.15);
    transform: translateY(-5px)
}

.img-scale {
    position: relative
}

.img-scale .img-wrap {
    overflow: hidden;
    width: calc(100% + 1px)
}

.img-scale img {
    transform: scale(1);
    transition: transform .3s ease
}

.img-scale:hover img {
    transform: scale(1.1)
}

.cv-background {
    background-color: #963a3a;
    color: #EEEEEE;
}

.cv-box-background {
    background-color: #FEF9E1;
    padding: 1rem 1rem;
    border-radius: 10px;
    color: #222831;
}