<%- include('../partials/header.ejs') %>
    <div class="container py-2">
        <div class="col-lg-8">
            <h1 class="border-bottom pb-2">Blog</h1>
            <div class="w-15 my-4"></div>
            <p class="lead">One stop destination for all my thoughts, ideas (& rants). I write about business, 
            management practices, philosophy and random thought experiments. I'm always on the lookout for new
            perspectives that challenge status quo.
            </p>
        </div>
    </div>
</div>

<!-- Blog Sections -->
<div class="container py-5">
    <ul class="list-unstyled row row-cols-1 row-cols-md-2 gy-4">
        <li class="col">
        <a class="d-inline-block" href="/blog/business-management">
            <figure>
            <div class="img-overlay mb-3">
                <img src="/images/blogs/temp.png" alt="" class="img-thumbnail" width="800" height="550">
                <div class="img-hover">
                <div class="img-text">View Page</div>
                </div>
            </div>
            <figcaption class="h4 fw-normal text-center">Business & Management</figcaption>
            </figure>
        </a>
        </li>
        <li class="col">
        <a class="d-inline-block" href="/blog/productivity-technology">
            <figure>
            <div class="img-overlay mb-3">
                <img src="/images/blogs/temp.png" alt="" class="img-thumbnail" width="800" height="550">
                <div class="img-hover">
                <div class="img-text">View Page</div>
                </div>
            </div>
            <figcaption class="h4 fw-normal text-center">Productivity & Technology</figcaption>
            </figure>
        </a>
        </li>
        <li class="col">
        <a class="d-inline-block" href="/blog/philosophy-life">
            <figure>
            <div class="img-overlay mb-3">
                <img src="/images/blogs/temp.png" alt="" class="img-thumbnail" width="800" height="550">
                <div class="img-hover">
                <div class="img-text">View Page</div>
                </div>
            </div>
            <figcaption class="h4 fw-normal text-center">Philosophy & Life</figcaption>
            </figure>
        </a>
        </li>
        <li class="col">
        <a class="d-inline-block" href="/blog/miscellaneous">
            <figure>
            <div class="img-overlay mb-3">
                <img src="/images/blogs/temp.png" alt="" class="img-thumbnail" width="800" height="550">
                <div class="img-hover">
                <div class="img-text">View Page</div>
                </div>
            </div>
            <figcaption class="h4 fw-normal text-center">Miscellaneous</figcaption>
            </figure>
        </a>
        </li>
    </ul>
</div>

<!-- Call to action -->
<section class="secondary-background text-center">
    <div class="container py-5 py-lg-6">
        <h1>Lend me your thoughts!</h1>
        <p class="lead">Connect with me to discuss further about <br> any of the above topics that interest you.</p>
        <a href="#" class="btn btn-outline-light">E-Mail</a>
    </div>
</section>

<%- include('../partials/footer.ejs') %>