<%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="d-flex justify-content-end my-3">
            <button class="btn btn-dark">Download Pdf</button>
        </div>
    </div>
    <div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center my-3 ">
        <div class='tableauPlaceholder' id='viz1751859563150' style='position: relative; width: 100%; height: 895px; left:10%'>
            <noscript>
                <a href='#'><img alt='Sriram Resume' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;23&#47;2317034_Sriram_Resume_17518586136580&#47;SriramResume&#47;1_rss.png' style='border: none' />
                </a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='path' value='views&#47;2317034_Sriram_Resume_17518586136580&#47;SriramResume?:language=en-US&amp;:embed=true&amp;:sid=&amp;:redirect=auth' /> 
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;23&#47;2317034_Sriram_Resume_17518586136580&#47;SriramResume&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
            </object>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1751859563150');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
                vizElement.style.width = '100%';
                vizElement.style.height = '895px';
            } else if (divElement.offsetWidth > 500) {
                vizElement.style.width = '100%';
                vizElement.style.height = '895px';
            } else {
                vizElement.style.width = '100%';
                vizElement.style.height = '4027px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);             
        </script>
    </div>
</div>

<%- include('../partials/footer.ejs') %>